benker/schemas/cals.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="https://lib.benker.com/schemas/cals.xsd"
           elementFormDefault="qualified"
           targetNamespace="https://lib.benker.com/schemas/cals.xsd">


    <xs:attribute name="char"/>

    <xs:attribute name="charoff">
        <xs:simpleType>
            <xs:restriction base="xs:decimal">
                <xs:minExclusive value="0"/>
                <xs:maxExclusive value="100"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:attribute>

    <xs:attribute name="frame">
        <xs:simpleType>
            <xs:restriction base="xs:token">
                <xs:enumeration value="all">
                    <xs:annotation>
                        <xs:documentation>Frame all four sides of the table. In some environments with limited control
                            over table border formatting, such as HTML, this may imply additional borders.
                        </xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="bottom">
                    <xs:annotation>
                        <xs:documentation>Frame only the bottom of the table.</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="none">
                    <xs:annotation>
                        <xs:documentation>Place no border on the table. In some environments with limited control over
                            table border formatting, such as HTML, this may disable other borders as well.
                        </xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="sides">
                    <xs:annotation>
                        <xs:documentation>Frame the left and right sides of the table.</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="top">
                    <xs:annotation>
                        <xs:documentation>Frame the top of the table.</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="topbot">
                    <xs:annotation>
                        <xs:documentation>Frame the top and bottom of the table.</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
            </xs:restriction>
        </xs:simpleType>
    </xs:attribute>

    <xs:attribute name="colsep">
        <xs:simpleType>
            <xs:restriction base="xs:token">
                <xs:enumeration value="0">
                    <xs:annotation>
                        <xs:documentation>No column separator rule.</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="1">
                    <xs:annotation>
                        <xs:documentation>Provide a column separator rule on the right</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
            </xs:restriction>
        </xs:simpleType>
    </xs:attribute>

    <xs:attribute name="rowsep">
        <xs:simpleType>
            <xs:restriction base="xs:token">
                <xs:enumeration value="0">
                    <xs:annotation>
                        <xs:documentation>No row separator rule.</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="1">
                    <xs:annotation>
                        <xs:documentation>Provide a row separator rule below</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
            </xs:restriction>
        </xs:simpleType>
    </xs:attribute>

    <xs:attribute name="orient">
        <xs:simpleType>
            <xs:restriction base="xs:token">
                <xs:enumeration value="land">
                    <xs:annotation>
                        <xs:documentation>90 degrees counter-clockwise from the rest of the text flow.
                        </xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="port">
                    <xs:annotation>
                        <xs:documentation>The same orientation as the rest of the text flow.</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
            </xs:restriction>
        </xs:simpleType>
    </xs:attribute>

    <xs:attribute name="tabstyle"/>

    <xs:attribute name="align">
        <xs:simpleType>
            <xs:restriction base="xs:token">
                <xs:enumeration value="center">
                    <xs:annotation>
                        <xs:documentation>Centered.</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="char">
                    <xs:annotation>
                        <xs:documentation>Aligned on a particular character.</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="justify">
                    <xs:annotation>
                        <xs:documentation>Left and right justified.</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="left">
                    <xs:annotation>
                        <xs:documentation>Left justified.</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="right">
                    <xs:annotation>
                        <xs:documentation>Right justified.</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
            </xs:restriction>
        </xs:simpleType>
    </xs:attribute>

    <xs:attribute name="valign">
        <xs:simpleType>
            <xs:restriction base="xs:token">
                <xs:enumeration value="bottom">
                    <xs:annotation>
                        <xs:documentation>Aligned on the bottom of the entry.</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="middle">
                    <xs:annotation>
                        <xs:documentation>Aligned in the middle.</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="top">
                    <xs:annotation>
                        <xs:documentation>Aligned at the top of the entry.</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
            </xs:restriction>
        </xs:simpleType>
    </xs:attribute>

    <xs:attribute name="colname"/>

    <xs:attribute name="namest"/>

    <xs:attribute name="nameend"/>

    <xs:attribute name="tgroupstyle"/>

    <xs:attribute name="cols" type="xs:positiveInteger"/>

    <xs:attribute name="colnum" type="xs:positiveInteger"/>

    <xs:attribute name="colwidth"/>

    <xs:element name="colspec">
        <xs:complexType>
            <xs:attribute name="colnum" type="xs:positiveInteger"/>
            <xs:attribute name="char"/>
            <xs:attribute name="colsep">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="0">
                            <xs:annotation>
                                <xs:documentation>No column separator rule.</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="1">
                            <xs:annotation>
                                <xs:documentation>Provide a column separator rule on the right</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="colwidth"/>
            <xs:attribute name="charoff">
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:minExclusive value="0"/>
                        <xs:maxExclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="colname"/>
            <xs:attribute name="rowsep">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="0">
                            <xs:annotation>
                                <xs:documentation>No row separator rule.</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="1">
                            <xs:annotation>
                                <xs:documentation>Provide a row separator rule below</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="align">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="center">
                            <xs:annotation>
                                <xs:documentation>Centered.</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="char">
                            <xs:annotation>
                                <xs:documentation>Aligned on a particular character.</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="justify">
                            <xs:annotation>
                                <xs:documentation>Left and right justified.</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="left">
                            <xs:annotation>
                                <xs:documentation>Left justified.</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="right">
                            <xs:annotation>
                                <xs:documentation>Right justified.</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

</xs:schema>
